*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
}
 .header{
    background: rgba( 255, 255, 255 , 1);
    -webkit-box-shadow:  0px  0px 12.5px 0px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5vw;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 .header i ,  .header h1{
    margin: 0px 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }

 .header i {
    font-size: 2rem;
    width: 40px;
    height: 40px;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #0c0c0c;
    transition: all 0.2s ease;
  }
  
  .header a:hover {
    background: #e4e7e4;
  }

.multipleFiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    height: 86vh;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.card {
    width: 28% ;
    overflow-y: hidden;
    height: 400px;
}
.card-img-top {
    width: 400px;
    height: 200px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 0 0;
    padding: 1.25rem;
    padding-bottom: 0px;
    padding-top: 1px;
    font-size: 0.8rem;
}

 .main{
    display: none;
    place-items: center;
    width: 100vw;
    height: 80vh;
    display: none;
    margin-top: 2rem;
}
 .main img ,  .main video
{   
    width: 400px;
    height: 200px;
    background: #fff;
    display: block;
    border-radius: 8px 8px 0 0;
}
 .main .card{
    display: grid;
    place-items: center;
    border-radius:20px ;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
 .main .card i{
    font-size: 16rem;
}
@media screen and (max-width: 1268px) {
    .card h1{
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 768px) {
     .main img  ,  .main .card
{   
    width: 280px;
    height: 200px;
    box-sizing: border-box;
}
.card h1{
    font-size: 1.4rem;
}
.multipleFiles{
    flex-wrap: wrap;
}
 .main video{
    width: 300px;
    height: 250px;
}
 .main .card i{
    font-size: 5rem;
}
 .main .card h1{
    font-size: 1rem;
}
 .header{
    height: 10vh;
}
 .header h1{
    font-size: 1rem;
}
}
@media screen and (max-width: 468px) {
    .card{
        width: 100% !important;
        height: auto;
        margin: 5px 0px;
    }
    .card video{
        height: 200px;
    }
    .mr-4{
        margin-right: 0 !important;
    }
}